body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
} 

.characterAmountContainer{
    display: flex;
    align-items: center;
}

.passwordDisplay {
    background-color: #ace0f9;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 1rem;
    overflow: auto;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
}

.btn {
    grid-column: span 2;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}
